.parents {
    font-weight: bold;
    font-size: 20px;
    margin-left: -30px;
}

body {
    background-size: 70%;
    background-color: beige;

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 2px solid;
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

td,
th {
    border: solid 1px;
}

.csalad {
    text-align: center;
}

.mycsalad {
    display: inline-block;
    text-align: left;
}
h3 {
    text-align: center;
}